.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.top{
    width: 100%;
    height: 55px;
    background-color:#228abf ;
    border-bottom:1px solid #4a9fca ;
    border-right:1px solid #4a9fca ;
}

.logo{
    float: left;
    margin-left: 50px;
    width: 36px;
    height: 36px;
    margin-top:10px ;
}
.search{
    float: right;
    margin-right:50px ;
    margin-top: 14px;
}
.search input{
    border: none;
    height:28px ;
    width: 273px;
    padding-left:40px ;
    background:  #fff url("../images/task8/zoom.png") no-repeat 15px 6px;
    line-height: 28px;
    outline: none;
    border-radius: 14px;
}

.search a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
    margin: 0 20px;
    padding-left: 20px;
    background: url("../images/task8/login.png") no-repeat 0 6px;
}
.search a:hover{
    text-decoration: none;
}

.main{
    width:1280px ;
    margin: 0 auto;
}

.left{
    width: 360px;
    height:1210px ;
    float: left;
    background-color:#2a2e3d ;
}
.left-top{

    height:150px ;
    background-color:#2a2e3d ;
    position: relative;
}

.avatar{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 55px;
    border-radius: 24px;
    border-spacing: 2px;
    background-color:#b9babe ;
    box-shadow: 0 0 0  5px #2a2e3d ,
    0 0 0  10px #b9babe;
}

.left-top p{
    line-height: 120px;
    padding-left:150px;
    color: #ffffff;
    font-size: 16px;
    font-family: "微软雅黑";

}

.left-top ul{
    list-style: none;
    margin-left: 63px;
}
.left-top ul li{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 3px solid #313545 ;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    color:#495466 ;
    font-family: "微软雅黑";
    font-weight: bold;
}
.left-top ul li:last-child{
    border-right: none;
}

.left-bottom{
    margin-top: 20px;
}
.menuList{
    margin: 5px 0px 5px 45px;
    height: 50px;
    line-height: 50px;
}
.icon-file-open{
    height: 34px;
    width: 34px;
    display: block;
    background: url("../images/task8/file_open.png") no-repeat 34px 34px;
}

.right{
    width: 920px;
    height: 1210px;
    float: right;
    background-color: #eeeeed;
}